body {
    font-family: system-ui, sans-serif;
    padding: 24px;
    color: #1b1b1f;
}

#greeting {
    color: #106464;
}

button {
    padding: 10px 16px;
    border-radius: 6px;
    border: 1px solid #192536;
    cursor: pointer;
    margin-left: 125px;

}
